@font-face {
  font-family: 'ubuntu', sans-serif;
}

html, body{
  margin: 0;
  padding: 0;
  width: 100%;

}
.logo{
  width: 300px;
  height: 150px;
  background-size: cover;
  background-repeat: no-repeat;
  margin: auto;
}
.logoImg{
  height: 150px;
  display: flex;
  margin: auto;
}

header{
  background-image: radial-gradient(yellow, rgb(218, 161, 13));
  background-repeat: no-repeat;
  box-shadow: 0px 8px 4px rgba(0, 0, 0, 0.5);
}
nav ul
{
    list-style-type: none;
    display: flex;

}

nav li
{
    margin: 0.5%;
}

nav a
{
    font-size: 1.5em;
    color: #181818;
    text-decoration: none;
}

nav a:hover
{
    color: #760001;
    border-bottom: 3px solid #760001;
}

h5{
  font-family: sans-serif;
  color: red;
}

/*bas de page*/
footer{
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid Black;
  height: 50px;
  width: 80%;
  margin: auto;
  background-image: linear-gradient(darkgray, lightgreen);
}
#copy{
  position: relative;
  font-size: 15px;
  left: 35px;
}
#icone{
  position: relative;
  font-size: 30px;
  right: 30px;
}

/*barre_déroulante*/
#barre_déroulante{
  width: 100%;
  text-align: center;
}
.barre_déroulante{
  width: 90%;
  height: 50%;
  /*border: 2px blue;*/
  /*background-color: white;*/
  margin: 0 auto;
  padding-top: 10px;
  padding-bottom: 20px;
  margin-top: 20px;
  background-image: url(../assets/accueil_imgs/tapisjouets.png);
}
.promo img{
  /*width: 15%;
  height: 5%;*/
  width: 22%;
  height: 5%;
  margin-left: 25px;
  display: flex;
  float: left;
  border-radius: 0 20px 0 20px;
  border: 2px solid orange;
}

/*topvente*/
#topvente{
  width: 100%;
  border: 2px, blue;
  text-align: center;
}
.topvente{
  width: 80%;
  background-color: #FF6347;
  margin: 0 auto;
}

/*bons de réduction*/
#réductions{
  width: 100%;
  border: 2px, blue;
}
.réductions{
  width: 900px;
  height: 455px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
#game_img{
  width:900px;
  height:455px;
  background-image: url("../assets/game_imgs/image_jeu_promo.png");
  background-size:contain;
  background-repeat: no-repeat;
}

/*Bouton go to top*/
a#cRetour{
  border-radius:3px;
  padding:10px;
  font-size:15px;
  text-align:center;
  color:#fff;
  background:rgba(218, 161, 13, 0.5);
  position:fixed;
  right:20px;
  opacity:1;
  z-index:99999;
  transition:all ease-in 0.2s;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  text-decoration: none;
}
a#cRetour:before{ content: "\25b2"; }
a#cRetour:hover{
  background:rgba(218, 161, 13, 1);
  transition:all ease-in 0.2s;
}
a#cRetour.cInvisible{
  bottom:-35px;
  opacity:0;
  transition:all ease-in 0.5s;
}

a#cRetour.cVisible{
  bottom:20px;
  opacity:1;
}
