@font-face {
  font-family: 'bunny';
  src: url('../assets/fonts/bunny$mambo.ttf');
}
#gris{
  background-color: lightgray;
}
.descriptif{
  text-align: justify;
  font-family: 'bunny', Georgia, Arial, sans-serif;
  font-size: 120%;
  text-align-last: left;
  color: rgb(218, 161, 13);
}

.top{
  border: 1px solid black;
  height: 700px;
  width: 100%;
  overflow: hidden;
}

/*Permet de crée la bordure et donne la disposiont de mes boite figure*/
figure{
  position: relative;
  display: inline-block; /*permet d'aligner les blocks figures*/
  border: 2px solid black; /*permet d'ajouter une bordure*/
  background-color: white; /*permet de modifier la couleur a l'intérieur de la bordure de l'element figure*/
  height: 250px; /*permet de donner une hauteur a mes blocks figures*/
  width: 300Px; /*permet de donner une largeur a mes blocks figures*/
  overflow: hidden;
  transition-property: height, width;
  transition-duration: 0.4s;
}

figure img{
  display: flex;
  height: 250px; /*permet de donner une hauteur a mes images*/
  width: 150px; /*permet de donner une largeur a mes images */
}

figure figcaption{

}

figure h5{
  position: relative;
  top: -150px;
  left: 20px;
}

figure button{
  border: 2px solid black;
  background-color: darkgray;
  position: relative;
}

figure span{
  color: darkred;
}

.jouets{
  display: inline;
  font-family: Georgia, Arial, sans-serif;
  font-size: 16px;
}
figure:hover{
  height: 700px;
  width: 100%;
  overflow: visible;
}
