@font-face {
  font-family: 'ubuntu', sans-serif;
}

html, body{
  margin: 0;
  padding: 0;
  width: 100%;

}
.logo{
  width: 30%;
  display: block;
  margin: auto;
}

header{
  background-image: radial-gradient(yellow, rgb(218, 161, 13));
  background-repeat: no-repeat;
  box-shadow: 0px 8px 4px rgba(0, 0, 0, 0.5);
}
nav ul
{
    list-style-type: none;
    display: flex;

}

nav li
{
    margin: 0.5%;
}

nav a
{
    font-size: 1.5em;
    color: #181818;
    text-decoration: none;
}

nav a:hover
{
    color: #760001;
    border-bottom: 3px solid #760001;
}

h5{
  font-family: sans-serif;
  color: red;
}


/*corp page moins de 5 ans*/
.descriptif{
  text-align: justify;
  font-family: Georgia, Arial, sans-serif;
  font-size: 120%;
  text-align-last: left;
  color: rgb(218, 161, 13);
}

.top{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  height: 100%;
  width: 80%;
  margin: 0 auto;
}

img{
  height: 200px;
  width: 200px;
  left: 20px;
}

.imgs{
  border: 1px solid black;
  height: 300px;
  width: 200px;
  margin: 10px;
  border-radius: 20px;
  overflow: hidden;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.7), -3px -3px 5px rgba(255, 255, 255, 0.5);
  background-color: rgb(255, 222, 0);

}

h5{
  color: red;
  font-family: Arial, sans-serif;
  font-size: 1em;
  text-align: center;
}



button{
  position: relative;
  top: -20px;
  left: 135px;
  height: 30px;
  width: 70px;
  border: 1px solid rgb(78, 160, 220);
  border-radius: 10px;
  background-color: rgb(78, 160, 212);
  color: rgb(255, 255, 255);
}


/*bas de page*/
footer{
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid Black;
  height: 50px;
  width: 100%;
  margin: auto;
  background-image: linear-gradient(darkgray, lightgreen);
}
#copy{
  position: relative;
  font-size: 15px;
  left: 35px;
}
#icone{
  position: relative;
  font-size: 30px;
  right: 30px;
}

/*Présentation produits*/
#presentation{
  width: 80%;
  height: 80%;
  /*POSITION*/
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  /*APPARENCE*/
  background-color: white;
  border: 1px solid black;
}


/*IMAGE DANS LA DIV DE PRESENTATION*/
#imgPresentation{
  height: 100%;
  width: auto;
  float: left;
}
/*TITRE DANS LA DIV DE PRESENTATION*/
#titlePresentation{
  color: red;
  font-family: Arial, sans-serif;
  text-align: center;
}
/*DESCRIPTIF DANS LA DIV DE PRESENTATION*/
#textPresentation{
  padding: 1%;
}
/*BOUTON DANS LA DIIV DE PRESENTATION*/
#buttonPresentation{
  position: absolute;
  top: 90%;
  left: 83%;
  height: 40px;
  width: 160px;
  border: 1px solid rgb(78, 160, 220);
  border-radius: 10px;
  background-color: rgb(78, 160, 212);
  color: rgb(255, 255, 255);
}
/*BOUTON QUITTER DE LA DIV DE PRESENTATION*/
#quitPresentation{
  background: url("../assets/miscellaneous/close-window.png");
  background-size: contain;
  width: 32px;
  height: 32px;
  position: absolute;
  top: -2.5%;
  left: 98.25%;
}

/*Bouton go to top*/
a#cRetour{
  border-radius:3px;
  padding:10px;
  font-size:15px;
  text-align:center;
  color:#fff;
  background:rgba(218, 161, 13, 0.5);
  position:fixed;
  right:20px;
  opacity:1;
  z-index:99999;
  transition:all ease-in 0.2s;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  text-decoration: none;
}
a#cRetour:before{ content: "\25b2"; }
a#cRetour:hover{
  background:rgba(218, 161, 13, 1);
  transition:all ease-in 0.2s;
}
a#cRetour.cInvisible{
  bottom:-35px;
  opacity:0;
  transition:all ease-in 0.5s;
}

a#cRetour.cVisible{
  bottom:20px;
  opacity:1;
}
